.mainCard{
    max-width: 1080px;
    margin: 0 auto 0 auto;
    background-color: rgb(127, 219, 150);
}
.Bittons{
position: absolute;
width: 32px;
height: 32px;
padding: 10px;
bottom: 30px;
right: 30px;
}
.btnserd{
    padding: 10px;
    z-index: 3;
    position: absolute;
    width: 32px;
    height: 32px;
}